<html>
    <head>
    </head>
    <body>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Compañia</h4>
                        <ul>
                            <li><a href="#">Sobre nosotros</a></li>
                            <li><a href="#">Nuestros servicios</a></li>
                            <li><a href="#">Politica de privacidad</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Ayuda</h4>
                        <ul>
                            <li><a href="#">Preguntas más frecuentes</a></li>
                            <li><a href="#">Devoluciones</a></li>
                            <li><a href="#">Opciones de pago</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Venta en linea</h4>
                        <ul>
                            <li><a href="#">Envio</a></li>
                            <li><a href="#">Contacto@Muebleria.com</a></li>
                            <li><a href="#">Dirección</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>                    
                            <a href="#"><i class="fab fa-instagram"></i></a>                        
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% load static %}
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
        <script src='{% static "javascrip/app.js" %}'></script>
        <script type="text/javascript" src='{% static "javascrip/Estilos.js" %}'></script>
    </body>
</html>

