*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}
.contener {
    position: relative;
    padding-bottom: 100px;
    height: 100%;
    
}

/*Estilo de login y registro*/
.fondo-login{
    background-image: url(../img/fondo-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.login{                /*Contenedor main*/
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.Contenedor-todo{
    width: 100%;
    max-width:800px;
    margin: auto;
    position: relative;
}
.caja_trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);

}
.caja_trasera div{

    margin: 100px 40px;
    color: white;
    transition: all 500ms;

}
.caja_trasera div p,
.caja_trasera div button{
    padding: 0 40px;
    
}

.caja_trasera div h3{
    font-weight: 400;
    font-size: 26px;
}
.caja_trasera button{
    padding: 0 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}
.caja_trasera button:hover{
    background: #fff;
    color: #46A2FD;
    
}

/*Formularios*/
.contenedor_login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.contenedor_login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}
.contenedor_login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}
.contenedor_login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}
.contenedor_login-register form button{
    padding: 0px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}
.formulario_login{
    opacity: 1;
    display: block;
}
.formulario_register{
    display: none;
}
@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja_trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja_trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor_login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor_login-register form{
        position: relative;
    }

} 
/*****ESTILOS PAGINA HOME*****/
.banner-principal{
    
    width: 100%;
    background-image: url('../img/slider3.jpg');
    background-position: 25% 75%;
    background-attachment: fixed;
    height: 60vh;
    
}
#item-carrito::before{
    content: url('../img/car.png');
    margin-right: 3px;
}
.lista-categorias h2{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 33px;
}

.item-categoria{
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}
.item-categoria .box-texto{
    background-image: linear-gradient(270deg, #e6e6e6de, #d6caca, rgba(242, 247, 242, 0.856), 
    #e2dfdf, #cccac8de);
    text-align: center;
    display: flex;
    align-items: center;
    
}
.item-categoria .box-texto p{
    width: 100%;
    font-size: 30px;
    color:black
}
.item-categoria .box-texto p a{
    color:white
}

.item-categoria .box-imagen{
    text-align: center;
    height: 300px;
}
.item-categoria .box-imagen img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.lista-categorias{
    padding: 0 50px 50px 50px;
    background: rgba(0, 0, 0, 0.4);
}
.lista-categorias .contenido{
    margin-top: 50px ;
    background-color:white;
}
/*********************************/